<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <header></header>
    <main>
        <input type="text" placeholder="Enter atitle or author">
        <input type="radio" name="search" value="Title">
        <label for="Title">Title</label>
        <input type="radio" name="search" value="Author">
        <label for="Author">Author</label>
        <button>Search the Google Books API</button>
    </main>
    <footer></footer>
</body>
</html>
