<!DOCTYPE html>
<html>
  <head>
    <title>Bool App</title>
    <link rel="stylesheet" href="./public/styles">
    <link rel="stylesheet" href="base.css">

  </head>
  <body>
    <h1>Hello World</h1>
    <!-- <p><a href="/list">See List</a></p>
    <p><a href="/quantities">See List with quantities</a></p> -->
  </body>
</html>