<!DOCTYPE html>
<html>
  <head>
    <title>Bool App</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="./public/styles">
    <link rel="stylesheet" href="base.css">

  </head>
  <body>
    <h1>Hello World</h1>
    <p><a href="/Title">See List</a></p>
    <p><a href="/Author">See List with quantities</a></p>
  </body>
</html>